version: '3.8'

services:
  angular-app:
    build: .
    ports:
      - "4200:80"
    depends_on:
      - json-server

  json-server:
    build:
      context: .
      dockerfile: Dockerfile.json-server
    ports:
      - "3000:3000"
    volumes:
      - ./db:/app/db